{% extends "base.html" %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Товары
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" with category=category categories=categories %}
{% endblock %}

{% block content %}
    <div class="mx-auto">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">
            {% if category %}
                {{ category.name|truncatechars:100 }}
            {% else %}
                Все товары
            {% endif %}
        </h2>

        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            {% for product in products %}
                {% include "shop/product/card.html" with product=product %}
            {% endfor %}
        </div>

    </div>
{% endblock %}
